langchain
langchain-community
langgraph
openai
wikipedia
pypdf2
pandas
python-docx
streamlit
python-docx
langchain_core
langchain_openai
python-dotenv
torch
transformers
Pillow
dotenv
opencv-python-headless
numpy
